extends layout

block styles
  link(rel='stylesheet', href='/css/style.css')

block content
  h1= title
  p A boilerplate for starting web applications with Express 4 and Pug
  
block scripts
  script(src='/js/client.min.js')
